$font: 'Poppins', sans-serif;
:root {
  --accent: #ea5433;
  --primary: #635551;
  --heading: #333232;
  --txt: #7a7979;
  --darktxt: #3d3c3c;
  --bg: #fef9f7;
  --btn1: rgb(88, 75, 72);
  --btn2: #ec7048;
  --btn2-bg: #fcf1ec;
  --lighttxt: rgba(255, 255, 255, 0.8);
  --white: #ffffff;
}
